/* style.css
* nerd Trivia Game
* Mustafar and the chamber of Gollum 
* Jacob Stanger
* Janurary 2020
*/

* {
  /* style all of the things */
}

.timer {
  /* background-color: lightpink; */
  float: right;
  text-align: center;
  font-size: xx-large;
  padding: 10px;
}

.head {
  padding-bottom: 10px;
}